.root {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: theme(fontSize.sm);
  margin-bottom: theme(spacing.1);
}

.input_box {
  display: flex;
  align-items: center;
  padding-left: theme(spacing.3);
  padding-right: theme(spacing.3);
  border: 1px solid theme(colors.gray.200);
  background-color: var(--color-light-gray);
  border-radius: theme(borderRadius.DEFAULT);
}

.input_box:focus-within {
  outline: 3px solid var(--color-outline-focus);
}

.root input {
  flex: 1;
  padding-top: theme(spacing[1.5]);
  padding-bottom: theme(spacing[1.5]);
  background-color: var(--color-light-gray);
}

.root input:focus {
  outline: none;
}

.left_element {
  max-width: theme(spacing.5);
  margin-right: theme(spacing.2);
}

.right_element {
  max-width: theme(spacing.5);
}

.error {
  margin-top: theme(spacing[0.5]);
  font-size: theme(fontSize.xs);
  color: theme(colors.red.500);
}
