---
import { headingCva } from "./heading.cva";
import { css, type Styles } from "../../../../styled-system/css";

type Props = {
  size?: "sm" | "md";
  color?: "white" | "black";
  linePosition?: "left" | "bottom";
} & {
  overrides?: Styles;
};

const { overrides, linePosition, color, size } = Astro.props;
const headingClasses = headingCva.raw({ color, linePosition, size });
---

<h2 class={css(headingClasses, overrides)}>
  <slot />
</h2>
