.root {
  width: 7.875rem;
  height: 3.063rem;
}

.root:focus {
  outline: 3px solid rgba(242, 49, 165, 0.5);
}

.root__unlabeled {
  width: 4.625rem;
}

.root__large {
  width: 12.5rem;
  height: 3.74rem;
}

.text__white {
  fill: theme(colors.gray.50);
}

.text__black {
  fill: theme(colors.gray.900);
}
