---
import "../styles/base.css";
import { css } from "../../../styled-system/css";
import FullLogo from "../common/full-logo/full-logo.astro";
import { flex, grid, vstack } from "../../../styled-system/patterns";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Won Games</title>
  </head>
  <body class={css({ fontFamily: "poppins" })}>
    <div class={grid({ columns: { base: 1, lg: 2 }, gap: 0, minH: "100dvh" })}>
      <div
        class={flex({
          hideBelow: "lg",
          position: "relative",
          background:
            "no-repeat 35% 50% / cover url('/images/auth-layout-bg.jpg')",
          _before: {
            content: "''",
            top: 0,
            left: 0,
            width: "100%",
            height: "100%",
            position: "absolute",
            bgColor: "rgba(9, 9, 11, 0.8)",
          },
        })}
      >
        <div
          class={flex({
            p: 9,
            zIndex: 1,
            direction: "column",
            justifyContent: "space-between",
          })}
        >
          <a
            href="/"
            class={css({
              width: "fit-content",
              _focus: {
                outline: "3px solid rgba(242, 49, 165, 0.7)",
              },
            })}
          >
            <FullLogo color="white" />
          </a>
          <div class={css({ color: "wg_white", mt: -32 })}>
            <p
              class={css({
                fontSize: "5xl",
                fontWeight: "bold",
                lineHeight: "120%",
              })}
            >
              All your favorite games in one place
            </p>
            <p class={css({ fontSize: "2xl", mt: 4 })}>
              <span
                class={css({
                  color: "transparent",
                  fontWeight: "semibold",
                  backgroundClip: "text",
                  backgroundImage:
                    "linear-gradient(to right, #F231A5, #FF66C2)",
                })}
              >
                WON
              </span> is the best and most complete gaming platform.
            </p>
          </div>
          <div
            class={css({
              fontSize: "xs",
              textAlign: "center",
              color: "rgba(255, 255, 255, 0.8)",
            })}
          >
            Won Games {new Date().getFullYear()} © All rights reserved
          </div>
        </div>
      </div>
      <div
        class={vstack({
          p: 4,
          gap: 16,
          alignSelf: "center",
          justifySelf: "center",
          mt: { base: 0, sm: -12 },
        })}
      >
        <FullLogo size="large" />
        <slot />
      </div>
    </div>
  </body>
</html>
