---
import { Image } from "astro:assets";
import { css } from "../../styled-system/css";
import MailIcon from "../ui/icons/mail-icon.astro";
import SentIcon from "../ui/icons/sent-icon.astro";
import Button from "../ui/common/button/button.astro";
import AuthLayout from "../ui/layouts/auth-layout.astro";
import Heading from "../ui/common/heading/heading.astro";
import gmailImage from "../assets/images/gmail-icon.png";
import outlookImage from "../assets/images/outlook-icon.png";
import TextField from "../ui/common/text-field/text-field.astro";
import { flex, hstack, vstack } from "../../styled-system/patterns";
---

<AuthLayout>
  <div v-scope class={css({ width: { base: 80, md: 96 } })}>
    <div
      v-cloak
      v-if="resetLinkSent"
      class={vstack({ gap: 6, alignItems: "stretch" })}
    >
      <div
        class={flex({
          py: 3,
          px: 2,
          align: "center",
          borderRadius: "md",
          backgroundColor: "#F0FDF4",
        })}
      >
        <span class={css({ mx: 3, width: 8 })}>
          <SentIcon color="#059669" />
        </span>
        <h2 class={css({ color: "emerald.600", fontWeight: "semibold" })}>
          Reset link sent!
        </h2>
      </div>
      <p class={css({ fontSize: "sm", color: "#616061" })}>
        Check your <span class={css({ fontWeight: "semibold" })} is:raw>
          {{ email }}
        </span> inbox for instructions from us on how to reset your password.
      </p>
      <p class={css({ fontSize: "sm", color: "#616061" })}>
        Wrong email address? Please <span
          role="link"
          tabindex="0"
          @click="resetData"
          @keyup.enter="resetData"
          class={css({
            cursor: "pointer",
            color: "wg_black",
            _hover: { textDecoration: "underline" },
            _focus: {
              outline: "3px solid rgba(79, 83, 87, 0.5)",
            },
          })}>re-enter email address</span >.
      </p>
      <div class={flex({ mt: 2, align: "center", justify: "space-around" })}>
        <a
          target="_blank"
          href="https://mail.google.com/mail/u/0/"
          class={hstack({
            gap: 2,
            fontSize: "xs",
            _hover: { textDecoration: "underline" },
            _focus: {
              outline: "3px solid rgba(79, 83, 87, 0.5)",
            },
          })}
        >
          <Image width="21" height="21" src={gmailImage} alt="Gmail icon" />Open
          Gmail
        </a>
        <a
          target="_blank"
          href="https://outlook.live.com/mail/0/inbox"
          class={hstack({
            gap: 2,
            fontSize: "xs",
            _hover: { textDecoration: "underline" },
            _focus: {
              outline: "3px solid rgba(79, 83, 87, 0.5)",
            },
          })}
        >
          <Image
            width="22"
            height="22"
            src={outlookImage}
            alt="Outlook icon"
          />Open Outlook
        </a>
      </div>
    </div>
    <form v-else class={vstack({ gap: 7, alignItems: "stretch" })}>
      <Heading>Reset password request</Heading>
      <p class={css({ fontSize: "sm", color: "#616061" })}>
        Enter the email address you use to sign in to Won Games so we can send
        you a link to reset your password.
      </p>
      <TextField placeholder="Email" type="email" name="email">
        <MailIcon color="#969696" slot="left-element" />
      </TextField>
      <Button>Get a reset link</Button>
    </form>
  </div>
</AuthLayout>

<script>
  import { createApp } from "petite-vue";

  createApp({
    email: "",
    resetLinkSent: false,

    resetData() {
      this.email = "";
      this.resetLinkSent = false;
    },
  }).mount();
</script>
