---
import { css } from "../../styled-system/css";
import LockIcon from "../ui/icons/lock-icon.astro";
import { vstack } from "../../styled-system/patterns";
import Button from "../ui/common/button/button.astro";
import AuthLayout from "../ui/layouts/auth-layout.astro";
import Heading from "../ui/common/heading/heading.astro";
import TextField from "../ui/common/text-field/text-field.astro";
---

<AuthLayout>
  <div
    class={vstack({
      gap: 7,
      alignItems: "stretch",
      width: { base: 80, md: 96 },
    })}
  >
    <Heading>Reset password</Heading>
    <p class={css({ fontSize: "sm", color: "#616061" })}>
      Enter a new password for pauloh1288@gmail.com.
    </p>
    <div class={vstack({ gap: 1.5, alignItems: "stretch" })}>
      <TextField placeholder="Password" type="password" name="password">
        <LockIcon color="#969696" slot="left-element" />
      </TextField>
      <TextField
        type="password"
        name="password-confirmation"
        placeholder="Confirm password"
      >
        <LockIcon color="#969696" slot="left-element" />
      </TextField>
    </div>
    <Button>Reset password</Button>
  </div>
</AuthLayout>
