.root {
  width: auto;
  border: none;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: theme(borderRadius.DEFAULT);
}

.root__primary {
  background: linear-gradient(#ff5f5f, #f062c0);
}

.root__primary:hover {
  background: linear-gradient(#e35565, #d958a6);
}

.root__secondary {
  background: transparent;
}

.root:focus {
  outline: 3px solid rgba(242, 49, 165, 0.5);
}

.root__small {
  padding: theme(spacing.1);
}

.root__medium {
  padding: theme(spacing.2);
}

.root__large {
  padding: theme(spacing.3);
}

.icon {
  display: inline-flex;
}

.icon__small {
  width: 0.75rem;
  height: 0.75rem;
}

.icon__medium {
  width: theme(spacing.4);
  height: theme(spacing.4);
}

.icon__large {
  width: theme(spacing.5);
  height: theme(spacing.5);
}
