---
import { css } from "../../../../styled-system/css";
import FilledAlertIcon from "../../icons/filled-alert-icon.astro";
---

<div
  class={css({
    padding: 4,
    backgroundColor: "#FBAB7E",
    backgroundImage: "linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%)",
  })}
>
  <div
    class={css({
      container: "true",
      marginX: "auto",
      display: "flex",
      alignItems: "center",
      flexDirection: "column",
      justifyContent: "center",
      spaceY: 2,
      md: {
        spaceX: 2,
        spaceY: 0,
        flexDirection: "row",
      },
    })}
  >
    <div
      class={css({
        spaceX: 2,
        display: "flex",
        alignItems: "center",
      })}
    >
      <div
        class={css({
          width: 4,
          height: 4,
          animation: "pulse",
          color: "yellow.900",
        })}
      >
        <FilledAlertIcon />
      </div>
      <span
        class={css({
          fontSize: "sm",
          display: "flex",
          color: "yellow.900",
          alignItems: "center",
          fontWeight: "semibold",
          "&::after": {
            display: "none",
            md: { ml: 2, content: "'•'", display: "inline-block" },
          },
        })}
      >
        Work in Progress
      </span>
    </div>
    <p
      class={css({
        fontSize: "sm",
        textAlign: "center",
        color: "yellow.900",
        md: {
          textAlign: "left",
        },
      })}
    >
      This page is currently under construction. Check back soon for updates!
    </p>
  </div>
</div>
