.root {
  font-size: theme(fontSize.2xl);
  font-weight: theme(fontWeight.semibold);
}

.root__white {
  color: theme(colors.gray.50);
}

.root__line_left {
  display: flex;
}

.root__line_left::before {
  content: "";
  width: 0.45rem;
  margin-right: theme(spacing.3);
  background-color: var(--color-secondary);
}

.root__line_bottom::after {
  content: "";
  display: block;
  height: 0.45rem;
  width: theme(spacing.16);
  margin-top: theme(spacing.1);
  background-color: var(--color-secondary);
}

@media screen(md) {
  .root {
    font-size: theme(fontSize.3xl);
  }
}
