.root {
  width: auto;
  border: none;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  border-radius: theme(borderRadius.DEFAULT);
}

.root__primary {
  color: white;
  background: linear-gradient(#ff5f5f, #f062c0);
}

.root__primary:hover {
  background: linear-gradient(#e35565, #d958a6);
}

.root__secondary {
  color: #f231a5;
  background: transparent;
}

.root:focus {
  outline: 3px solid rgba(242, 49, 165, 0.5);
}

.root__small {
  font-size: theme(fontSize.xs);
  padding: theme(spacing.1) theme(spacing.7);
}

.root__medium {
  font-size: theme(fontSize.sm);
  padding: theme(spacing.2) theme(spacing.8);
}

.root__large {
  padding: theme(spacing.3) theme(spacing.12);
}

.root__full {
  width: 100%;
}

.icon {
  display: flex;
  margin-right: theme(spacing.2);
}

.icon__primary svg path {
  fill: #fafafa;
}

.icon__secondary svg path {
  fill: #f231a5;
}

.icon__small {
  width: 0.75rem;
}

.icon__medium {
  width: 0.875rem;
}

.icon__large {
  width: theme(spacing.4);
}
